*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

app/src/main/java/smarter/smartmirror30/Constants.java
app/src/main/res/smartmirroricon.xcf

D:\Users\Ric\SmartMirror3.0\android\app\src\main\res